# Tevo Tornado (with BLTouch, 3 TMC2130 in SPI mode on XYZ
# and 1 LV8729 on E)

[bltouch]
sensor_pin: ar18
control_pin: ar11 
z_offset: 0.9
x_offset: -47

[safe_z_home]
home_xy_position: 150,150 # Change coordinates to the center of your print bed
speed: 50
z_hop: 20                 # Move up 10mm
z_hop_speed: 5

#[servo bltouch]
#pin: ar11
#maximum_servo_angle: 180
#minimum_pulse_width: 0.0006
#maximum_pulse_width: 0.0024


#[probe]
#pin: ar18
# the higher this number the closer to the bed
#z_offset: 1.50
#x_offset: -48
#activate_gcode:
#    SET_SERVO SERVO=bltouch ANGLE=10
#    SET_SERVO SERVO=bltouch ANGLE=60
#    G4 P200
#deactivate_gcode:
#    SET_SERVO SERVO=bltouch ANGLE=90
#    G4 P100

#[homing_override]
#set_position_z: 15
#axes: z
#gcode:
#    G90
#    G1 Z30 F480
#    G28 X0 Y0
#    G1 X194 Y162 F3600
#    G28 Z0
#    G1 Z15 F480
#    ; M18

[bed_mesh]
speed: 100
horizontal_move_z: 10
min_point: 50,30
max_point: 280,270
probe_count: 5,5
mesh_pps: 2,2

#######################
[stepper_x]
step_pin: ar54
dir_pin: !ar55
enable_pin: !ar38

step_distance: .0125
endstop_pin: tmc2130_stepper_x:virtual_endstop
position_endstop: 0
position_max: 280
homing_speed: 100
homing_retract_dist: 0

[tmc2130 stepper_x]
cs_pin: ar59
microsteps: 16
interpolate: True
run_current: .85
; diag1_pin: ^!ar3
diag1_pin: ^!ar3
; spi_software_sclk_pin: ar52
; spi_software_mosi_pin: ar50
; spi_software_miso_pin: ar51
driver_SGT: 1
hold_current: 0.500
stealthchop_threshold: 250

[stepper_y]
step_pin: ar60
dir_pin: !ar61
enable_pin: !ar56
# For TMC2208 at 1/16 microsteps with 80 steps/mm
# Dontemperature use a calibrated value, use the theorical value only otherwise
# the TMC2208 may stop working while printing
step_distance: .0125
#endstop_pin: ^!ar14
endstop_pin: tmc2130_stepper_y:virtual_endstop
position_endstop: 0
position_max: 270
homing_speed: 80
homing_retract_dist: 0



[tmc2130 stepper_y]
cs_pin: ar63
microsteps: 16
interpolate: True
run_current: .9
diag1_pin: ^!ar14
driver_SGT: 1
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[stepper_z]
step_pin: ar46
dir_pin: ar48
enable_pin: !ar62
step_distance: .0025
endstop_pin: probe:z_virtual_endstop
position_max: 350
position_min: -0.25


[tmc2130 stepper_z]
cs_pin: ar64
microsteps: 16
interpolate: True
run_current: .85
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

###############################
# Defining E3D PT100
[adc_temperature my_pt100]
temperature1: 0.
voltage1: 0.00
temperature2: 1.
voltage2:	1.11
temperature3: 10.
voltage3:	1.15
temperature4: 20.
voltage4:	1.20
temperature5: 30.
voltage5:	1.24
temperature6: 40.
voltage6:	1.28
temperature7: 50.
voltage7:	1.32
temperature8: 60.
voltage8:	1.36
temperature9: 70.
voltage9:	1.40
temperature10: 80.
voltage10:	1.44
temperature11: 90.
voltage11:	1.48
temperature12: 100.
voltage12:	1.52
temperature13: 110.
voltage13:	1.56
temperature14: 120.
voltage14:	1.61
temperature15: 130.
voltage15:	1.65
temperature16: 140.
voltage16:	1.68
temperature17: 150.
voltage17:	1.72
temperature18: 160.
voltage18:	1.76
temperature19: 170.
voltage19:	1.80
temperature20: 180.
voltage20:	1.84
temperature21: 190.
voltage21:	1.88
temperature22: 200.
voltage22:	1.92
temperature23: 210.
voltage23:	1.96
temperature24: 220.
voltage24:	2.00
temperature25: 230.
voltage25:	2.04
temperature26: 240.
voltage26:	2.07
temperature27: 250.
voltage27:	2.11
temperature28: 260.
voltage28:	2.15
temperature29: 270.
voltage29:	2.18
temperature30: 280.
voltage30:	2.22
temperature31: 290.
voltage31:	2.26
temperature32: 300.
voltage32:	2.29
temperature33: 310.
voltage33:	2.33
temperature34: 320.
voltage34:	2.37
temperature35: 330.
voltage35:	2.41
temperature36: 340.
voltage36:	2.44
temperature37: 350.
voltage37:	2.48
temperature38: 360.
voltage38:	2.51
temperature39: 370.
voltage39:	2.55
temperature40: 380.
voltage40:	2.58
temperature41: 390.
voltage41:	2.62
temperature42: 400.
voltage42:	2.66
temperature43: 500.
voltage43:	3.00
temperature44: 600.
voltage44:	3.33
temperature45: 700.
voltage45:	3.63
temperature46: 800.
voltage46:	3.93
temperature47: 900.
voltage47:	4.21
temperature48:    1000.
voltage48:	4.48
temperature49:    1100.
voltage49:	4.73

[extruder]
step_pin: ar26
# For LV8729 dir_pin is reversed
dir_pin: !ar28
enable_pin: !ar24
# For LV8729 at 1/32 with 800 steps/mm
; step_distance: .00125
step_distance: .00121
nozzle_diameter: 0.800
filament_diameter: 1.750
# Simplify3D needs a high cross section for rafts
max_extrude_cross_section: 2
heater_pin: ar10
max_extrude_only_distance: 1000.0
#sensor_type: PT100 INA826
sensor_type: my_pt100
sensor_pin: analog12
control: pid
pid_Kp: 21.565 
pid_Ki: 3.125
pid_Kd: 37.200
min_temp: 0
max_temp: 280
pressure_advance: 0.15


[heater_fan extruder_fan]
pin: ar7
heater: extruder
heater_temp: 50.0

[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
control: pid
pid_Kp: 50.815
pid_Ki: 0.392 
pid_Kd: 1648.310
min_temp: 0
max_temp: 70


# Controller cooling fan (one may define any number of sections with a
# "controller_fan" prefix). A "controller fan" is a fan that will be
# enabled whenever its associated heater or any configured stepper
# driver is active. The fan will stop, whenever an idle_timeout is
# reached to ensure no overheating will occur after deactivating a
# watched component.
[controller_fan board_fan]
pin: ar6
max_power:1.0
shutdown_speed: 0
cycle_time: 0.010
hardware_pwm: false
kick_start_time: 0.100
#   See the "fan" section in example.cfg for a description of the
#   above parameters.
idle_timeout: 60
#   The ammount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
idle_speed: .7
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and before
#   the idle_timeout is reached. This must be greater or equal
#   max_power. The default is max_power
; heater: stepper_x
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".


[fan]
pin: ar9

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0
pin_map: arduino

[printer]
# Need to increase this buffer because at the end of the Benchy boat test,
# the toolhead pause 1 second when printing circles, causing big clogs on the print. 15 is not enough so we use 30
buffer_time_high: 30
kinematics: cartesian
max_velocity: 250
max_z_velocity: 30
max_accel: 2000
; max_accel: 500
max_z_accel: 120
square_corner_velocity: 5.0


[virtual_sdcard]
path: ~/.octoprint/uploads/

[printer]
# Need to increase this buffer because at the end of the Benchy boat test,
# the toolhead pause 1 second when printing circles, causing big clogs on the print. 15 is not enough so we use 30
buffer_time_high: 30
kinematics: cartesian
max_velocity: 250
max_z_velocity: 30
max_accel: 2000
max_z_accel: 120


# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
[display]
lcd_type: st7920
cs_pin: ar16
sclk_pin: ar23
sid_pin: ar17
encoder_pins: ^ar31, ^ar33
click_pin: ^!ar35
kill_pin: ^!ar41
menu_timeout: 40

# Beeper pin
[output_pin BEEPER_pin]
pin: ar37
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1000


[gcode_macro G29]
gcode:
  G0 Z5 F1200
  G28
  BED_MESH_CALIBRATE
  SAVE_CONFIG
  RESTART
  G28


# Gcode for clearing the display
[delayed_gcode clear_display]
gcode:
    M117

[gcode_macro G80]
gcode:
 BED_MESH_CALIBRATE
 G1 X194 Y162 F3600

[gcode_macro G81]
gcode:
 BED_MESH_OUTPUT

# Idle timeout. An idle timeout is automatically enabled - add an
# explicit idle_timeout config section to change the default settings.
[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 120
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.




######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
; default_parameter_BED_TEMP: 60
; default_parameter_EXTRUDER_TEMP: 210
gcode:
    # Start bed heating
    ; M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    ; # Reset the G-Code Z offset (adjust Z offset if needed)
    ; SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    ; G1 Z10 F3000
    # Move the nozzle very close to the bed
    ; G1 Z0.15 F300
    # Wait for bed to reach temperature
    ; M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    ; M109 S{EXTRUDER_TEMP}

    G1 X3 Y20 Z15 F9000      ; Move safe Z height to shear strings
    G0 X10 Y20 Z0.25 F900     ; Move in 1mm from edge and up [z] 0.2mm
    G92 E0                  ; Set extruder to [0] zero
    G1 X150 E12 F500        ; Extrude 30mm filiment along X axis 100mm long to prime and clean the nozzle
    G92 E0                  ; Reset extruder to [0] zero end of cleaning run
    G1 E-1 F500             ; Retract filiment by 1 mm to reduce string effect
    G1 X180 F4000           ; quick wipe away from the filament line / purge


[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    #G1 Z30 F3000
    # Raise nozzle by 50mm
    G1 Z50 F3000
    G90
    # Disable steppers
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# points =
#*# 	  0.200000, -0.005000, -0.107500, -0.230000, -0.400000
#*# 	  0.195000, 0.010000, -0.077500, -0.185000, -0.342500
#*# 	  0.235000, 0.057500, -0.027500, -0.117500, -0.255000
#*# 	  0.322500, 0.140000, 0.050000, -0.057500, -0.200000
#*# 	  0.487500, 0.290000, 0.177500, 0.067500, -0.087500
#*# x_count = 5
#*# y_count = 5
#*# min_x = 50.0
#*# max_x = 280.0
#*# min_y = 30.0
#*# max_y = 270.0
#*# x_offset = -47.0
#*# y_offset = 0.0
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*#
#*# [extruder]
#*#
#*# [heater_bed]
